{% extends 'base.html' %}
{% block title %} Task List{% endblock  %}
{% block content %} 
    <center class="p-4">
        <h1>Your tasks</h1>
        <a class="btn btn-primary" href="{% url 'task_create' %}">Add Task</a>

        <table class="table">
            <tr>
                <th scope="col"> Task Title</th>
                <th scope="col"> Task Description</th>
                <th scope="col"> Completed</th>
                <th scope="col"> Action</th>
            </tr>
                {% for task in tasks %}
                <tr>
                    <td><h5>{{ task.title }}</h5></td>
                    <td><p>{{ task.description|truncatechars:50 }}</p></td>
                    <td><p>
                        {% if task.completed %}Yes{% else %}No{% endif %}
                      </p>
                    </td>
                    <td><a class="btn btn-info" href="{% url 'task_details' task.pk %}">
                        Read more
                      </a>
                      <a class="btn btn-danger" href="{% url 'task_delete' task.pk %}">
                        Delete task
                      </a></td>
                </tr>
                {% empty %}
          <h3>No tasks yet.</h3>
          <a href="{% url 'task_create' %}">Add Task</a>
                {% endfor %}
            </table>
        
    </center>
{% endblock  %}